#footer-text {
  width: 100%;
  background-color: #009688;
  color: #ffffff;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

div#footer-text > p {
  padding: 4px;
}
.footer-link {
  text-decoration: underline;
  color: #ffffff;
}
.footer-link:hover {
  color: #ffc107;
}

#footer-app-bar {
  height: 58px;
  width: 100%;
  background-color: #00796b;
  margin-top: 18px;
  text-align: center;
  padding-top: 5px;
}

.footer-button {
  background-color: #ffc107 !important;
  color: #ffffff !important;
  margin: 8px !important;
}
.footer-button:hover {
  background-color: #ffa000 !important;
}
