.modal-button {
  float: right;
  margin-left: 5px;
}
.modal-button-primary {
  background-color: #ffc107 !important;
  color: #ffffff !important;
  float: right;
  margin-left: 5px;
}
.modal-button-primary:hover {
  background-color: #ffa000 !important;
}

.modal-text {
  width: 100% !important;
}

.Modal-modal-0-1-3 {
  min-width: 280px;
}

.add-answer {
  margin: 12px;
  float: right;
}

@media screen and (min-width: 470px) {
  .Modal-modal-0-1-3 {
    width: 80%;
  }
}
